.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

.another {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
  .yazan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%; 

  }
  .meera{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }
  .ghala{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;


  }